<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the DITA Open Toolkit project.

Copyright 2015 Jarno Elovirta

See the accompanying LICENSE file for applicable license.
-->
<plugin id="org.dita.normalize" version="1.1.0">
  <transtype name="dita" desc="Normalized DITA">
    <param name="normalize-strip-keyref" desc="Remove key artefacts after key resolution." type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="normalize-strip-branch-filter" desc="Remove branch filter artefacts after branch filter resolution." type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
  </transtype>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
</plugin>
